<%= render 'static/header_unal_render' %>
<div class="page-header">
  <h1>Details <%= @building.name%> </h1>
</div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default my_panel">
            <div class="panel-body">
              <img src="<%= @building.url %>" alt="" class="img-responsive center-block" />
            </div>
            <div class="panel-footer">
              <h4>Number:</h4> <%= @building.number %>
              <h4>Nickname:</h4> <%= @building.nickname %>
              <h4>How old are you?</h4> <%= Date.today.year  - @building.year.to_i %>
              <h4>History</h4> <%= @building.history %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render 'static/footer_unal_render' %>
